@import "tailwindcss";

@theme {
  --color-bg: #000000;
  --color-fg: #ffffff;
  --color-fg-muted: #a3a3a3;
  --color-fg-subtle: #525252;
  --color-line: #262626;
  --color-accent: #3B82F6;
  --color-accent-glow: #3B82F680;

  --font-sans: var(--font-sora);
}

html,
body {
  overflow: hidden;
  height: 100%;
}
